<h1 id="title">Ember Select Combo</h1>

<h2>Select ember data model to relationship</h2>
{{select-combo value=selected content=model tabindex='1'
 optionLabelPath='content.name' optionValuePath='content.id'}}
